<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8" />
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" id="google-font-css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic" />
<link rel="stylesheet" id="port-css" href="{{asset "css/port.min.css"}}" />

{{ghost_head}}
</head>

<body class="{{body_class}}">
<div class="wrap">
	<header class="site-header" role="banner">
		<div class="site-logo"><a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a></div>
		{{navigation}}
	</header>
	<div class="site-content" role="main">
		{{{body}}}
	</div>
	<footer class="site-footer" role="contentinfo">
		<div class="copyright">&copy; {{date format="YYYY"}} <a href="https://github.com/thomasclausen/port-ghost/" target="_blank">Port</a>. Proudly powered by <a href="http://tryghost.org" target="_blank">Ghost</a>.</div>
		<div class="credit">Theme by <a href="http://www.thomasclausen.dk" target="_blank">Thomas Clausen</a></div>
	</footer>
</div>

<script type="text/javascript" src="{{asset "js/port.min.js"}}" async></script>

{{ghost_foot}}
</body>

</html>
