{{!< default}}

{{#post}}
	<article id="post-{{id}}" class="{{post_class}}" role="article">
		<div class="post-content">
			<h1 class="post-title">{{title}}</h1>
			{{tags prefix="<p><strong>Tags:</strong> " seperator=", " suffix="</p>"}}
			{{content}}
		</div>
		<div class="total-share-count" data-total-share-url="{{url absolute="true"}}">{{url absolute="true"}} - <span class="total-count">0</span></div>
		<div class="total-share-count" data-total-share-url="http://svommeklubbennord.dk/traeningslejr-for-talent-og-k3-i-loekken/">http://svommeklubbennord.dk/traeningslejr-for-talent-og-k3-i-loekken/ - <span class="total-count">0</span></div>
		<div class="total-share-count" data-total-share-url="http://blog.squarespace.com/blog/squarespace-in-the-mobile-age">http://blog.squarespace.com/blog/squarespace-in-the-mobile-age - <span class="total-count">0</span></div>
	</article>

	<nav class="post-pagination" role="navigation">
		<ul>
			{{#next_post}}
				<li class="next"><a href="{{url}}" title="{{title}}" rel="next"><span>Next post:</span><br />&larr; {{title}}</a></li>
			{{/next_post}}
			{{#prev_post}}
				<li class="prev"><a href="{{url}}" title="{{title}}" rel="prev"><span>Previous post:</span><br />{{title}} &rarr;</a></li>
			{{/prev_post}}
		</ul>
	</nav>
{{/post}}

<script>
var totalShareCount = 0;
function getTotalShare() {
	console.log('total: ' + totalShareCount);
}

function getShares(data) {
	if (data.shares) {
		console.log(data.shares);
		totalShareCount += data.shares;
	} else {
		console.log(data.count);
		totalShareCount += data.count;
	}

	getTotalShare();
}
</script>
<script id="facebook" src="https://graph.facebook.com/?id=https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/&callback=getShares" async></script>
<script src="https://cdn.api.twitter.com/1/urls/count.json?url=https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/&callback=getShares" async></script>
<script src="https://api.pinterest.com/v1/urls/count.json?url=https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/&callback=getShares" async></script>
<script src="https://www.linkedin.com/countserv/count/share?url=https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/&callback=getShares" async></script>
