{{!< default}}

{{#post}}
	<article id="post-{{id}}" class="{{post_class}}" role="article">
		<div class="post-content">
			<h1 class="post-title">{{title}}</h1>
			{{tags prefix="<p><strong>Tags:</strong> " seperator=", " suffix="</p>"}}
			{{content}}
		</div>
		<div class="total-share-count" data-total-share-url="{{url absolute="true"}}">Shares: <span class="total-count">0</span></div>
	</article>

	<nav class="post-pagination" role="navigation">
		<ul>
			{{#next_post}}
				<li class="next"><a href="{{url}}" title="{{title}}" rel="next"><span>Next post:</span><br />&larr; {{title}}</a></li>
			{{/next_post}}
			{{#prev_post}}
				<li class="prev"><a href="{{url}}" title="{{title}}" rel="prev"><span>Previous post:</span><br />{{title}} &rarr;</a></li>
			{{/prev_post}}
		</ul>
	</nav>

	<script>
	var totalShareCount = 0,
		totalShareCurrent = 0,
		animateShareCountInterval = null;

	var animateShareCount = function () {
		if (totalShareCount - totalShareCurrent > 50) {
			totalShareCurrent += 47;
		} else if (totalShareCount - totalShareCurrent > 10) {
			totalShareCurrent += 7;
		} else {
			totalShareCurrent++;
		}
		if (totalShareCurrent === totalShareCount) {
			clearInterval(animateShareCountInterval);
		}
		document.querySelector('.total-share-count .total-count').innerHTML = totalShareCurrent;
	}

	var getShares = function (data) {
		if (document.currentScript.id === 'stumbleupon') {
			console.log(document.currentScript);
			console.log(data);
		}
		if (data.shares) {
			totalShareCount += data.shares;
		} else if (data.result || document.currentScript.id === 'stumbleupon') {
			totalShareCount += data.result.views;
		} else {
			totalShareCount += data.count;
		}
		if (animateShareCountInterval === null && totalShareCount > 0) {
			animateShareCountInterval = setInterval(animateShareCount, 50);
		}
	}

	var getGooglePlusShareCount1 = function () {
		var params = {
			nolog: true,
			id: 'https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/',
			source: "widget",
			userId: "@viewer",
			groupId: "@self"
		};

		//console.log('Google');

		gapi.client.setApiKey('AIzaSyCuFXPmkn3OKbeQ9D6htI0ZLSa2gVREW-Y');
		return gapi.client.rpcRequest('pos.plusones.get', 'v1', params).execute(function (response) {
			//console.log(response);
			var googlePlusCount;
			if (response.result && response.result.metadata && response.result.metadata.globalCounts && response.result.metadata.globalCounts.count) {
				googlePlusCount = response.result.metadata.globalCounts.count || 0;
				totalShareCount += googlePlusCount;
				$('.googleplus-count .share-count', el).text(googlePlusCount);
				return animateShareCount($('.total-count', el), totalShareCount);
			}
		});
	}

	var getGooglePlusShareCount = function () {
		gapi.client.setApiKey('AIzaSyDmKyurdBd-EShTXmj2R3q-JsZQBV7ZHak');
		gapi.client.load('plus', 'v1').then(function () {
			console.log('loaded');

			var request = gapi.client.plus.people.get({
				'userId': 'me'
			});
			request.then(function (response) {
				var heading = document.createElement('h4');
				var image = document.createElement('img');
				image.src = response.result.image.url;
				heading.appendChild(image);
				heading.appendChild(document.createTextNode(response.result.displayName));

				document.getElementById('content').appendChild(heading);
			}, function(reason) {
				console.log('Error: ' + reason.result.error.message);
			});
		});
	}
	</script>
	<script src="https://graph.facebook.com/?id={{url absolute="true"}}&callback=getShares" async></script>
	<script src="https://cdn.api.twitter.com/1/urls/count.json?url={{url absolute="true"}}&callback=getShares" async></script>
	<script src="https://api.pinterest.com/v1/urls/count.json?url={{url absolute="true"}}&callback=getShares" async></script>
	<script src="https://www.linkedin.com/countserv/count/share?url={{url absolute="true"}}&callback=getShares" async></script>

	<script id="stumbleupon" src="https://www.stumbleupon.com/services/1.01/badge.getinfo?url=https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/&callback=getShares" async></script>

	<script src="https://plusone.google.com/_/+1/fastbutton?url=https://squareup.com/townsquare/how-to-use-social-media-to-market-your-online-store/&count=true&callback=getGooglePlusShareCount1" async></script>
	<script src="https://apis.google.com/js/client.js?onload=getGooglePlusShareCount" async></script>
	<script src="https://apis.google.com/js/plusone.js?onload=getGooglePlusShareCount" async></script>
	<script src="https://apis.google.com/js/client:plusone.js"></script>
{{/post}}
