{{!< default}}

{{#post}}
	<article id="post-{{id}}" class="{{post_class}}" role="article">
		<div class="post-content">
			<h1 class="post-title">{{title}}</h1>
			{{tags prefix="<p><strong>Tags:</strong> " seperator=", " suffix="</p>"}}
			{{content}}
		</div>
		<div class="total-share-count" data-total-share-url="{{url absolute="true"}}">Shares: <span class="total-count">0</span></div>
	</article>

	<nav class="post-pagination" role="navigation">
		<ul>
			{{#next_post}}
				<li class="next"><a href="{{url}}" title="{{title}}" rel="next"><span>Next post:</span><br />&larr; {{title}}</a></li>
			{{/next_post}}
			{{#prev_post}}
				<li class="prev"><a href="{{url}}" title="{{title}}" rel="prev"><span>Previous post:</span><br />{{title}} &rarr;</a></li>
			{{/prev_post}}
		</ul>
	</nav>

	<script>
	var totalShareCount = 0,
		totalShareCurrent = 0,
		animateShareCountInterval = null;

	function animateShareCount() {
		if (totalShareCount - totalShareCurrent > 50) {
			totalShareCurrent += 47;
		} else if (totalShareCount - totalShareCurrent > 10) {
			totalShareCurrent += 7;
		} else {
			totalShareCurrent++;
		}
		if (totalShareCurrent === totalShareCount) {
			clearInterval(animateShareCountInterval);
		}
		document.querySelector('.total-share-count .total-count').innerHTML = totalShareCurrent;
	}

	function getShares(data) {
		totalShareCount += data.shares ? data.shares : data.count;
		if (animateShareCountInterval === null) {
			animateShareCountInterval = setInterval(animateShareCount, 50);
		}
	}
	</script>
	<script src="https://graph.facebook.com/?id={{url absolute="true"}}&callback=getShares" async></script>
	<script src="https://cdn.api.twitter.com/1/urls/count.json?url={{url absolute="true"}}&callback=getShares" async></script>
	<script src="https://api.pinterest.com/v1/urls/count.json?url={{url absolute="true"}}&callback=getShares" async></script>
	<script src="https://www.linkedin.com/countserv/count/share?url={{url absolute="true"}}&callback=getShares" async></script>
{{/post}}
