{{!< default}}

{{#post}}
	<article id="post-{{id}}" class="{{post_class}}" role="article">
		<div class="post-content">
			<h1 class="post-title">{{title}}</h1>
			{{tags prefix="<p><strong>Tags:</strong> " seperator=", " suffix="</p>"}}
			{{content}}
		</div>
	</article>

	<nav class="post-navigation" role="navigation">
		<ul>
			{{#next_post}}
				<li class="next"><a href="{{url}}" title="{{title}}" rel="next"><span>Next post:</span><br />&larr; {{title}}</a></li>
			{{/next_post}}
			{{#prev_post}}
				<li class="prev"><a href="{{url}}" title="{{title}}" rel="prev"><span>Previous post:</span><br />{{title}} &rarr;</a></li>
			{{/prev_post}}
		</ul>
	</nav>

	{{> disqus}}
{{/post}}
