<div class="post-list">
	{{#foreach posts}}
		<article id="post-{{id}}" class="{{post_class}}" role="article">
			<a href="{{url}}" title="{{{title}}}">
			<div class="post-image">
				<img src="{{image}}" alt="{{{title}}}" />
				<div class="overlay">
					<h2 class="post-title">{{title}}</h2>
				</div>
			</div>
			</a>
		</article>
	{{/foreach}}
</div>

{{pagination}}
