{{!< default}}

{{#author}}
	<article id="author-{{id}}" class="{{post_class}}" role="article">
		{{#if image}}
			<div class="author-image">
				<img src="{{image}}" alt="{{name}}" />
			</div>
		{{/if}}
		<div class="author-content">
			<h1 class="author-name">{{name}}</h1>
			<p class="author-meta">
				{{#if location}}
					<strong>Location:</strong> {{location}}
				{{/if}}
				{{#if website}}
					<strong>Website:</strong> <a href="{{website}}">{{website}}</a>
				{{/if}}
				<strong>Writings:</strong> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
			</p>
			{{#if bio}}
				<p>{{{bio}}}</p>
			{{else}}
				<p>Posts written by <em>{{name}}</em></p>
			{{/if}}
			<hr />
		</div>
	</article>
{{/author}}

{{> list-post}}
