{{!< default}}

{{#post}}
	<article id="post-{{id}}" class="{{post_class}}" role="article">
		<div class="post-content">
			<h1 class="post-title">{{title}}</h1>
			{{tags prefix="<p><strong>Tags:</strong> " seperator=", " suffix="</p>"}}
			{{content}}
		</div>
	</article>
{{/post}}
